#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; font-family:Verdana; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
#vtipArrow { position: absolute; top: -10px; left: 5px }

.required-label	{ color: red; font-size: 125%; font-weight: bold; }

.event .description
{
	border: none;
}

.event legend.event-title
{
	border: none;
}

#event-gmap
{
	width: 96%;
	height: 300px;
}

#event-gmap img {
	max-width: none;
}

#event-gmap label {
	width: auto; display:inline;
}

#js-gmap-renderer {
	min-height: 300px;
}

#js-gmap-renderer img {
	max-width: none;
}